{% extends 'master/base.html' %}
{% block body_block %}
<h3>Search</h3>


<div  class="d-flex align-items-center">
    <form id="search-form">
        {% csrf_token %}
        <input type="text" name="model" placeholder="Model"  class="me-5" id="inputmodel">
        <input type="text" name="jan" placeholder="JAN Code"  class="me-5" id="inputjan">
    </form>
    <button class="btn btn-primary" onclick="getresults()">Search</button>
    
</div>


{% if results %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Color</th>
                                <th>JAN Code</th>
                                <th>Image</th>
                                <th></th>
                                
                                
                                
                                
                            </tr>
                        </thead>
                        <tbody id="alldata">
                            {% for results in results %}
                            <tr>
                                <td>{{ results.brand }}</td>
                                <td><a href="{% url 'viewdetails' results.id  %}">{{ results.model }}</a></td>
                                <td>{{ results.color }}</td>
                                <td>{{ results.jan }}</td>
                                <td>{{ results.image }}</td>
                                
                                <td>
                                    <a data-toggle="tooltip" data-placement="top" title="Delete"
                                        href="{% url 'delete' results.id %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                                
                                
                                
                                
                                
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    function getresults(){

        
        var model = document.getElementById("inputmodel").value
        var jan = document.getElementById("inputjan").value 
        const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
        
    

    
        $.ajax({

            type: 'POST',
            url: 'searchoutput',
            data: {
                'csrfmiddlewaretoken': csrf,
                'model': model, 
                'jan': jan,
            },
            success: function(data){
                console.log(data.data);
                const listdata = data.data 
                
                document.getElementById("alldata").innerHTML = ``

                const div = document.getElementById("alldata")
               
                
                
                if(listdata.length>0)
                {
                    for(let i=0; i<listdata.length; i++){ 
                    
                        const tr = document.createElement("tr")
                        div.appendChild(tr)
                    
                        for(let j=0 ; j<Object.keys(listdata[i]).length; j++ ){
                            
                            console.log(Object.keys(listdata[i]))
                            let key = Object.keys(listdata[i])
                            console.log(key[j])
                            const td = document.createElement("td")
                            
                            td.innerText= listdata[i][key[j]]
                            
                            tr.appendChild(td)
                        }
                    
                    }
                }
                else{
                   div.innerText=`No items found` 
                }
                


            }

        });
       
        

    }
</script>


{% endblock %}